.header {
  width: 100vw;
  height: 100vw;
  height: 862px;
  background-image: url(../assets/images/header_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header .container {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header_heading {
  margin-bottom: 8px;
}

.header_subheading {
  margin-bottom: 48px;
}

.heading_wrapper {
  display: inline-block;
  margin-bottom: 16%;
}

.search_wrapper {
  position: relative;
  width: 647px;
  height: 60px;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_search {
  padding: 20px 334px 20px 36px;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.header_search_label {
  width: 100%;
  height: 100%;
}

.search_btn {
  position: absolute;
  text-align: center;
  align-items: center;
  right: 5px;
  width: 139px;
  height: 52px;
  padding: 16px 24px;
  gap: 10px;
  background-color: #5373FD;
}

.scroll_down_wrapper {
  width: 102px;
  height: 40px;
  display: flex;
  flex-direction: column;
}

.navigation {
  width: 100%;
  height: 84px;
  background-color: #5373FD;
}
.navigation .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.why_section {
  max-width: 1920px;
  width: 100%;
  height: 704px;
  background-image: url(../assets/images/why_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  gap: 136px;
}
.why_section .container {
  display: flex;
  justify-content: space-around;
  margin-left: 300px;
  padding: 124px 112px 124px 0px;
}
.why_section .why_article {
  max-width: 648px;
  height: 324px;
}
.why_section .why_heading {
  margin-bottom: 24px;
}
.why_section .why_text_wrapper {
  margin-bottom: 32px;
}
.why_section .why_text {
  margin-bottom: 28px;
}
.why_section .why_images_wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 424px;
  height: 456px;
}
.why_section .why_image_wrapp {
  width: 350px;
  height: 220px;
}
.why_section .why_img_wr1 {
  position: absolute;
  right: 74px;
  top: 0;
}
.why_section .why_img_wr2 {
  position: absolute;
  left: 74px;
  bottom: 0;
}
.why_section .why_landscape {
  width: 100%;
  height: 100%;
}
.why_section .why_svg_wrapper {
  display: flex;
  justify-content: center;
  width: 1320px;
  height: 306px;
}