 /* #region Font-Faces */ 
 @font-face {
  font-family: 'robotomedium';
  src: url('../fonts/Roboto/roboto-medium-webfont.woff2') format('woff2'),
       url('../fonts/Roboto/roboto-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}




@font-face {
  font-family: 'robotobold';
  src: url('../fonts/Roboto/roboto-bold-webfont.woff2') format('woff2'),
       url('../fonts/Roboto/roboto-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}




 @font-face {
  font-family: 'tourneysemibold';
  src: url('../fonts/Tourney/tourney-semibold-webfont.woff2') format('woff2'),
       url('../fonts/Tourney/tourney-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;

}
@font-face {
  font-family: 'pt_sansitalic';
  src: url('../fonts/PtSans/ptsans-italic-webfont.woff2') format('woff2'),
       url('../fonts/PtSans/ptsans-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;

}




@font-face {
  font-family: 'pt_sansregular';
  src: url('../fonts/PtSans/ptsans-regular-webfont.woff2') format('woff2'),
       url('../fonts/PtSans/ptsans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'pt_sansbold';
  src: url('../fonts/PtSans/ptsans-bold-webfont.woff2') format('woff2'),
       url('../fonts/PtSans/ptsans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}




@font-face {
  font-family: 'pt_sansbold_italic';
  src: url('../fonts/PtSans/ptsans-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/PtSans/ptsans-bolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;

}



@font-face {
  font-family: 'farrolight';
  src: url('../fonts/farro/farro-light-webfont.woff2') format('woff2'),
       url('../fonts/farro/farro-light-webfont.woff/farro-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style:normal;
}

@font-face {
  font-family: 'francois_oneregular';
  src: url('../fonts/FrancoisOne/francoisone-regular-webfont.woff2') format('woff2'),
       url('../fonts/FrancoisOne/francoisone-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'staatlichesregular';
  src: url('../fonts/Staatliches/staatliches-regular-webfont.woff2') format('woff2'),
       url('../fonts/Staatliches/staatliches-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}
/* #endregion */

/* #region Global Styles */
html{
  width: 100%;
 
}
body{
 
 text-align: center;
 align-items: center;

}
.page_wrapper {
  position: relative;
  z-index: 1;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: 90px 1fr 1fr 1fr;
 
 }
 .head_div{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2/3;
  grid-column: 1 / 2;
 }
.divider{
 
 
  width: 100px;
  background-color: #000;
  height: 8px;
  margin-right: 20px;
}

.heading{
justify-content: start;

color: #000;
font-family: 'robotomedium';
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 48px; /* 133.333% */
letter-spacing: 1.44px;
}
/* #endregion */


 /* #region Header Styles */
 .header {
padding-bottom: 84px;
  grid-row: 1;
  grid-column:  span 3;
  margin-bottom: 83px;
  
}
.header_container{
  position: fixed;
  margin-top: 13px;
  top: 0;
  left: auto;
  right: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  max-width: 1200px;

  
}
.header_left{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.language_btn {
  color:#000;
  text-decoration: none;
  font-family: 'tourneysemibold';
  font-size: 22px;
  font-weight: 600;
  line-height: 18px; 
  letter-spacing: 0.88px;
}
 
.header_refs{
  display: flex;
  align-items: center;
  width: 100%;
  justify-self: start;
  color: #000;
  font-family: 'staatlichesregular';
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.66px;
  text-decoration: none;
  }
.header_refs>a{
margin:  10px;
  }
 
/* #endregion */


/* #region Card Styles */
.head_div{
  width: 326px;
  margin-bottom: 60px;
}
.logos_container{
    align-items: center;
    border-top: 1px solid #BFBFBF ;
    border-bottom: 1px solid #BFBFBF;
    row-gap: 30px;
    width: 100%;
    max-width: 1200px;
    display: grid;
    column-count: 4;
    grid-row: 3 / 5;
    grid-column: span 4;
 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 210px);
    
  }
  .flip-card {
    
    background-color: transparent;
    width: 270px;
    height: 200px;
    perspective: 1000px; 

  }
  
 
  .flip-card-inner {
    position: relative;
    width: 270px;
    height: 180px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    justify-content: center;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
  }
  

  .flip-card-front, .flip-card-back {
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;  
    backface-visibility: hidden;
  }
  

  .flip-card-front {
    background-color: #E6E6E6;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flip-card_img{
    flex-shrink: 0;
    width: 270px;
    height: 180px;
    padding: 50px ;
 
  }
 
  .flip-card-back {
    background-color: #1A1A1A;
    color: white;
    transform: rotateX(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row1{
    padding-top: 30px; 
 
    grid-row: 1 / 2;
  }
  .row2{
    grid-row: 2 / 3;
    padding-bottom: 30px; 
 
  }
  .black_card{
    background-color: #1A1A1A;
  }
  .white_card{
    background-color: #E6E6E6;
  }
 /* #endregion */