.page_wrapper {
  position: relative;
}

.mobile {
  display: none;
}

.nav_mobile {
  display: none;
}

.hero_screen {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 993px;
  align-items: start;
  padding-top: 25px;
  animation-name: appearance;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.hero_bg_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: -200px;
  overflow: hidden;
  min-height: 993px;
  z-index: -2;
}
.hero_bg_wrapper img {
  z-index: -2;
}

.gradient_wrapper {
  width: 100%;
  max-width: 100%;
  height: 550px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 135px;
  background-image: linear-gradient(183deg, rgba(255, 255, 255, 0.123) 46.73%, #FFF 70%);
  z-index: 5;
}

.hero_bg_img {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 1200px;
}

.hero_screen .container {
  z-index: -2;
  width: 100%;
  max-width: 100%;
}

.header {
  background: linear-gradient(269deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 51.07%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.02);
  max-width: 8000px;
  background-color: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4.5px);
}

.logo_wrapper {
  width: 116px;
  height: 32px;
}

.theme_switch_wrapper {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 20px;
  top: 35%;
}

.theme_switch_wrapper_mobile {
  width: 22px;
  height: 22px;
  right: 38px;
  top: -4px;
  background-color: #fff;
}

.theme_switch_btn_mobile {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 20px;
  height: 20px;
  box-shadow: 0px 0px 1px 6px #10392f;
}

.switcher {
  transition: 0.3s all ease;
  --theme_switcher_color: rgb(2, 224, 171) ;
  box-shadow: 0px 0px 30px 10px #02e0ab;
}
.switcher:hover {
  transform: scale(1.2);
}

.switch_color {
  transition: 0.3s all ease;
  --theme_switcher_color: rgb(241, 137, 123);
  box-shadow: 0px 0px 30px 10px #f1897b;
}

.theme_switch_btn_mobile {
  box-shadow: none;
  background-color: transparent;
}

.theme_switch_btn {
  position: absolute;
}
.theme_switch_btn svg {
  width: 100%;
  height: 100%;
}

.mobile_btn {
  display: none;
  flex-direction: column;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.pc_btn {
  display: inline-block;
  justify-content: start;
  align-items: start;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  display: flex;
  gap: 30px;
  background-attachment: local;
  transform: translateX(-40px);
}

.hero .container {
  margin: 0 auto;
}

.container2 {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  height: 1100px;
}
.container2 .hero_content {
  margin-top: 260px;
  max-width: 523px;
}

.hero_title {
  margin-bottom: 20px;
}

.hero_subtitle {
  margin-bottom: 50px;
}

.hero_btn {
  display: inline-block;
  position: relative;
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
}

.stats {
  max-height: 300px;
}

.stats .container {
  position: relative;
  display: flex;
  top: -602px;
  z-index: 1;
}

.stats_content {
  position: absolute;
  right: 0;
  top: 45px;
  width: 100%;
  max-width: 770px;
  display: flex;
  z-index: 2;
  justify-content: center;
}

.stats_img img {
  z-index: 3;
  opacity: 0;
  animation-name: appearance;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.overlaying_part {
  display: flex;
  flex-direction: row;
  max-width: 770px;
  position: absolute;
  background-color: #fff;
  z-index: 4;
}

.dark_bg {
  opacity: 0.9;
  background-color: #161926;
}

.content_count {
  z-index: 5;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 80px;
  padding: 45px 0;
}

.count_item {
  display: flex;
  width: 370px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.divided {
  position: relative;
}
.divided::before {
  content: "";
  position: absolute;
  opacity: 0.8;
  top: -25px;
  width: 100px;
  height: 1px;
  background-color: #85bbb1;
}

.count-item_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.count-item_subtitle {
  text-align: center;
}

.stats_img {
  display: inline-block;
  min-width: 570px;
}

.dollar {
  width: 21px;
  align-self: last baseline;
  margin-right: 10px;
}

.content_article {
  padding: 45px;
  width: 100%;
  max-width: 400px;
  min-height: 250px;
  line-height: normal;
}

.content_article_text {
  width: 100%;
  margin-bottom: 50px;
}

.stats_btn {
  z-index: 3;
}

.benefits .container {
  margin-bottom: 120px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
}

.benefit_card {
  position: relative;
  max-width: 500px;
  margin-left: 10px;
}
.benefit_card::after {
  content: "";
  height: 1px;
  background-color: #E4E4E4;
  width: 100%;
  position: absolute;
  top: -30px;
}

.benefit_title {
  margin-bottom: 40px;
}

.quote .container {
  background-image: url(../assets/images/quote-background.webp);
  background-size: 1170px 400px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 120px;
  padding: 100px 300px 160px 160px;
  z-index: -1;
}

.quote_content {
  position: relative;
  margin: 0 auto;
  text-align: start;
  max-width: 710px;
}
.quote_content .svg_quote_wrapper {
  position: absolute;
  width: 102px;
  height: 84px;
  top: -29%;
  left: -10%;
}
.quote_content .svg_quote_wrapper svg {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.quote_content .dark_svg_quote_wrapper {
  position: absolute;
  width: 102px;
  height: 84px;
  top: -29%;
  left: -10%;
}
.quote_content .dark_svg_quote_wrapper svg {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.quote_title {
  margin-bottom: 40px;
  z-index: 2;
}

.video {
  margin-bottom: 120px;
}
.video .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.player_wrapp {
  margin-bottom: 50px;
}

.video_area {
  position: relative;
  padding: 31px 70px 31px 30px;
  border: 1px solid var(--primary-grey, #E4E4E4);
  border-radius: 32px;
  margin-bottom: 50px;
  padding-right: 50px;
}

.tablet_btn {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 5px;
  top: 47%;
  bottom: 283px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tablet_btn use {
  width: 35px;
  height: 35px;
}

.little_tablet_btn {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 48%;
  left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.little_tablet_btn use {
  width: 13px;
  height: 13px;
}

.controls {
  position: absolute;
  top: 40%;
  left: 45%;
  width: 120px;
  height: 120px;
  z-index: 2;
  cursor: pointer;
}
.controlsbutton:hover svg, .controlsbutton:focus svg {
  --logo_color: $dark_neon_color;
}

.video_content {
  width: 100%;
  max-width: 870px;
}

.video_text {
  margin: 0 auto;
  max-width: 870px;
}
.video_text .video_title {
  margin-bottom: 20px;
}

.controls button {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../assets/images/icon_play.svg);
}

.controls button[data-state=play] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.promises {
  margin-bottom: 120px;
  min-height: 510px;
}

.promises .container {
  position: relative;
  display: flex;
}

.promises_back {
  width: 100%;
  max-width: 600px;
  height: 540px;
  background-image: url(../assets/images/promises_back.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.promises_front {
  position: absolute;
  right: 0;
  top: 45px;
  width: 100%;
  max-width: 770px;
  padding: 75px 0px 75px 70px;
  opacity: 0.9;
  background: #FFF;
}

.frontcard_list {
  display: flex;
  gap: 70px;
  width: 100%;
  max-width: 770px;
  flex-wrap: wrap;
}

.frontcard_item {
  display: inline-block;
  width: 300px;
}

.item_heading {
  margin-bottom: 15px;
}

.button_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #E4E4E4;
}

.promisses_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reviews {
  margin-bottom: 160px;
}

.reviews_heading {
  margin-bottom: 20px;
  display: inline-block;
}

.reviews_subheding {
  margin-bottom: 50px;
}

.reviews_list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.review_card {
  background: rgba(25, 28, 41, 0.6);
  position: relative;
  max-width: 370px;
  min-height: 340px;
  padding: 30px 40px 76px 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.review_card_bg {
  position: absolute;
  background: rgba(25, 28, 41, 0.099);
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.review_text {
  position: relative;
  align-self: stretch;
  opacity: 0.8;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.726);
}

.initials {
  position: absolute;
  left: 40px;
  bottom: 30px;
  z-index: 1;
}

.contacts {
  margin-bottom: 100px;
}

.contacts .container {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.after_par::after {
  content: "";
  position: absolute;
  top: -60px;
  width: 100%;
  opacity: 0.1;
  height: 1px;
  background: #262A3F;
}

.form {
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 240px;
  gap: 40px;
}

.btn_wrapper::after {
  content: none;
}

.inp_wrapp {
  width: 470px;
  height: 32px;
}
.inp_wrapp .form_input {
  position: relative;
  width: 100%;
  height: 100%;
}
.inp_wrapp .form_input:hover, .inp_wrapp .form_input:focus {
  opacity: 9;
  outline: #F1897B;
  color: #F1897B;
  box-shadow: 8px 2px 22px 10px #f1897b;
}

.dark_inp_wrapp {
  width: 470px;
  height: 32px;
}
.dark_inp_wrapp:hover, .dark_inp_wrapp:focus {
  box-shadow: 8px 2px 22px 10px #53f3cd;
}
.dark_inp_wrapp .form_input {
  position: relative;
  width: 100%;
  height: 100%;
}
.dark_inp_wrapp .form_input:hover, .dark_inp_wrapp .form_input:focus {
  opacity: 9;
  outline: #53f3cd;
  color: #02e0ab;
  box-shadow: 8px 2px 22px 10px #53f3cd;
}

.btn_wrapper {
  display: flex;
  justify-content: start;
  align-items: start;
}

.footer {
  padding: 30px 0px;
  justify-content: space-between;
  align-items: center;
}

.footer .container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.footer .container::after {
  content: "";
  position: absolute;
  top: -30px;
  width: 100%;
  opacity: 0.1;
  height: 1px;
  background: #262A3F;
}

.made_by {
  display: flex;
  gap: 12px;
}

.made_by_link {
  font-weight: 400;
}

.policy {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

@media (max-width: 3200px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .stats_content {
    position: absolute;
    display: flex;
    z-index: 2;
    justify-content: center;
  }

  .overlaying_part {
    flex-direction: row;
  }

  .content_article_text {
    margin-bottom: 50px;
  }
}
/* md(<=991px) */
@media (max-width: 1160px) {
  .header .container {
    padding: 20px;
  }

  .quote .container {
    padding: 60px;
  }

  .benefits-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
  }

  .benefit_card {
    min-width: 50%;
  }
  .benefit_card:after {
    content: "";
    width: 100%;
    top: -30px;
    left: 0;
    right: 0;
  }

  .promises {
    margin-bottom: 50px;
    min-height: 250px;
  }

  .promises_front {
    max-width: 100%;
    opacity: 0.9;
  }

  .promises_back {
    z-index: -2;
  }

  .frontcard_item {
    color: #fff;
    background-color: #080808a2;
  }

  .footer {
    padding: 0px 20px 20px 20px;
  }
}
@media (max-width: 991px) {
  .hero_content {
    max-width: 90%;
    padding-left: 20px;
  }

  .container {
    max-width: 90%;
  }

  .mobile_btn {
    display: inline-block;
  }

  .pc_btn {
    display: none;
  }

  .page_wrapper {
    overflow: hidden;
  }

  .overlaying_part {
    top: 50px;
    position: relative;
    min-height: 600px;
    max-width: 600px;
  }

  .content_count {
    width: 80%;
    gap: 15px;
    display: flex;
    font-size: 30px;
    text-align: center;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .count_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
  }

  .count-item_title {
    font-size: 24px;
  }

  .content_article {
    padding: 0;
    max-width: 90%;
    padding-right: 20px;
  }

  .content_article_text {
    padding: 20px;
  }

  .stats_btn {
    padding-right: 20px;
    justify-self: center;
    text-align: center;
    align-self: center;
  }

  .stats .container {
    position: relative;
  }

  .stats_content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.347);
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
  }

  .overlaying_part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
  }

  .stats_img {
    width: 100%;
    max-height: 600px;
  }
  .stats_img img {
    height: 720px;
  }

  .content_count {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    justify-content: space-between;
    vertical-align: top;
    padding: 20px 0;
    font-size: 20px;
    width: 100%;
  }
  .content_count::after {
    display: none;
  }

  .count_item {
    max-width: 300px;
    justify-content: start;
    align-items: start;
  }

  .count_item.divided::before {
    display: none;
  }

  .count-item_title {
    max-width: 300px;
    justify-content: start;
    align-items: start;
    height: 50px;
    gap: 10px;
  }

  .content_article {
    margin-top: 50px;
  }

  .count-item_subtitle {
    max-width: 300px;
    justify-content: start;
    align-items: start;
  }

  .benefits-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
  }

  .benefit_card {
    display: inline-block;
    width: 90%;
    position: relative;
  }
  .benefit_card::after {
    position: absolute;
    height: 1px;
    background-color: #E4E4E4;
    width: 90%;
    right: 20%;
  }

  .svg_quote_wrapper {
    top: -20%;
    left: -9%;
  }

  .promises_back {
    position: relative;
    width: 100%;
    max-width: 100%;
    max-height: 300px;
  }
  .promises_back img {
    max-height: 100%;
  }

  .promises_front {
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .frontcard_list {
    align-items: start;
    gap: 50px;
    justify-content: center;
    max-height: 100%;
    margin-bottom: 10px;
  }

  .frontcard_item {
    max-width: 200px;
  }

  .item_heading {
    margin-bottom: 2px;
    font-size: 14px;
  }

  .button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    height: 150px;
    width: 100%;
    border: none;
  }

  .reviews {
    margin-bottom: 160px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
  }

  .reviews_heading {
    margin-bottom: 20px;
    display: block;
    text-align: center;
    width: 100%;
  }

  .reviews_subheding {
    margin-bottom: 50px;
    align-self: center;
    display: inline-block;
    width: 100%;
  }

  .reviews_list {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .review_card {
    padding: 30px;
    position: relative;
    display: inline-block;
    max-width: 500px;
    max-height: 450px;
  }

  .review_card_bg {
    padding: 25px;
  }

  .review_text {
    position: relative;
    background-color: rgba(0, 0, 0, 0.668);
    text-shadow: 1.5px 1.5px 1.5px black;
    opacity: 0.9;
    font-size: 16px;
  }

  .initials {
    background-color: rgba(0, 0, 0, 0.668);
    text-shadow: 1.5px 1.5px 1.5px black;
    opacity: 0.9;
    left: 100px;
    right: 100px;
    white-space: nowrap;
  }

  .contacts .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;
  }

  .footer {
    align-items: center;
    justify-content: center;
  }

  .inp {
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .btn_wrapper {
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer .container {
    width: 100%;
  }
}
/* sm (<=768px) */
@media (max-width: 767px) {
  .container {
    max-width: 90%;
  }

  .hero_screen .container {
    position: relative;
  }

  .stats {
    margin-bottom: 50px;
    min-height: 200px;
  }
  .stats .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .stats .stats_img {
    position: absolute;
    min-height: 450px;
    top: 0;
    right: 0;
    left: 0;
  }
  .stats .stats_img img {
    width: 100%;
    height: 100%;
  }
  .stats .overlaying_part {
    top: 40px;
    max-width: 90%;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .stats .content_count {
    width: 100%;
    max-width: 100%;
    gap: 15px;
    display: flex;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .stats .count_item.divided {
    max-width: 100%;
  }
  .stats .count_item.divided::before {
    content: "";
    position: absolute;
    opacity: 0.8;
    top: -10px;
    width: 100%;
    height: 1px;
    background-color: #85bbb1;
  }
  .stats .count-item_title {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .stats .count-item_subtitle {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .stats .stats_content {
    position: absolute;
  }
  .stats .content_article {
    max-height: 300px;
  }

  .container2 {
    left: 5%;
  }

  .promises_front {
    background-color: #fff;
    opacity: 0.3;
  }

  .button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    height: 100px;
    width: 100%;
    border: none;
  }

  .header_nav {
    display: none;
  }

  .open_menu {
    border-radius: 6px;
    display: inline-block;
    flex-direction: column;
    position: fixed;
    top: 20px;
    right: 20px;
  }
  .open_menu .nav_list {
    background: rgba(159, 221, 209, 0.792);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 90px;
  }
  .open_menu .nav_item {
    text-shadow: #FFF;
  }

  .nav_mobile {
    display: flex;
    position: sticky;
    top: 20px;
    z-index: 5;
  }

  .hamburger {
    display: inline-block;
  }

  .count-item_subtitle {
    margin-left: 8px;
  }

  .content_article_text {
    padding: 5px;
    border: 3px #E4E4E4 solid;
    overflow: scroll;
    margin-bottom: 20px;
    max-height: 200px;
  }
  .content_article_text .overlaying_part {
    position: absolute;
    top: -10px;
    bottom: 0;
    right: 0;
    left: -60px;
    opacity: 0;
  }

  .controls {
    top: 35%;
    left: 35%;
  }

  .promises {
    min-height: 400px;
  }

  .frontcard_list {
    min-height: 300px;
  }

  .promises_front {
    min-height: 500px;
    opacity: 0.7;
    height: max-content;
  }

  .quote_content .svg_quote_wrapper {
    left: -5%;
    top: -20%;
  }

  .review_text {
    background-color: rgba(0, 0, 0, 0.57);
    text-shadow: black px;
    opacity: 0.9;
  }
}
/* xs (<=575px) */
@media (max-width: 575px) {
  .container {
    max-width: 90%;
  }

  .open_menu .nav_list {
    border-radius: 6px;
  }
  .open_menu .nav_item {
    text-shadow: #FFF;
  }

  .hero_content {
    max-width: 90%;
  }
  .hero_content .hero_subtitle {
    width: 90%;
  }
  .hero_content .hero_subtitle .hero_title {
    width: 90%;
  }

  .stats {
    margin-bottom: 50px;
    min-height: 400px;
  }
  .stats .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .stats .stats_img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .stats .stats_img img {
    width: 100%;
    height: 100%;
  }
  .stats .overlaying_part {
    position: relative;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  .stats .content_count {
    width: 100%;
    max-width: 100%;
    gap: 15px;
    display: flex;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .stats .count_item.divided {
    max-width: 100%;
  }
  .stats .count_item.divided::before {
    content: "";
    position: absolute;
    opacity: 0.8;
    top: -10px;
    width: 100%;
    height: 1px;
    background-color: #85bbb1;
  }
  .stats .count_item {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .stats .count-item_title {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .stats .count-item_subtitle {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .stats .stats_content {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .stats .content_article {
    max-height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: visible;
    scrollbar-track-color: #689ff2;
  }

  .video .video_area {
    padding: 15px 3px 20px 3px;
    max-width: 350px;
    min-height: 500px;
  }
  .video .video_area::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #E4E4E4;
    top: 35px;
    left: 0;
    right: 0;
  }
  .video .video_area::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #E4E4E4;
    bottom: 50px;
    left: 0;
    right: 0;
  }

  .video_content {
    width: 100%;
    height: 490px;
  }

  .tablet_btn {
    top: 92%;
    right: 45%;
  }

  .little_tablet_btn {
    position: absolute;
    top: 2%;
    left: 48%;
  }

  .overlaying_part {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;
  }

  .content_count {
    display: flex;
    flex-direction: column;
  }
}
.benefits {
  margin-bottom: 100px;
}

.benefits-list {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 90px;
}

.quote_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 90%;
  min-width: 500px;
  background-size: cover;
}

.quote_content {
  text-align: center;
  gap: 5px;
}

.quote_title {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1.6px;
}

.svg_quote_wrapper {
  top: -20px;
  left: -5%;
}

.content_article {
  max-height: 100px;
}

.content_article_text {
  padding-right: 20px;
}

.stats_content {
  max-width: 100%;
  width: 100%;
}

.count_item {
  gap: 0 px;
  line-height: 18px;
}

.count-item_title {
  line-height: normal;
  height: auto;
  gap: 0px;
}

.frontcard_list {
  margin-bottom: 5px;
  gap: 10px;
}
.frontcard_list .button_wrapper {
  height: 50px;
  min-width: 150px;
  max-width: 250px;
}

.contacts {
  max-width: 90%;
}

.contacts_content {
  margin-bottom: 30px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.inp_wrapp {
  min-width: 150px;
  height: 25px;
}
.inp_wrapp .form_input {
  width: 100%;
  max-width: 150px;
  height: 100%;
}
.inp_wrapp:hover, .inp_wrapp:focus {
  box-shadow: 8px 2px 22px 10px #F1897B;
  backdrop-filter: blur(5px);
}
.inp_wrapp:hover .form_input, .inp_wrapp:focus .form_input {
  box-shadow: none;
  backdrop-filter: none;
}

.footer .container {
  gap: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 5px;
}

.review_text {
  font-size: 16px;
}

@media (max-width: 370px) {
  .stats {
    max-height: 600px;
  }

  .content_count {
    margin-bottom: 20px;
  }

  .content_article {
    max-width: 100%;
    width: 100%;
    padding-right: 0;
    max-height: none;
  }

  .content_article_text {
    font-size: 14px;
    max-height: none;
  }

  .frontcard_list {
    flex-wrap: wrap;
    gap: 20px;
  }
  .frontcard_list .frontcard_item {
    gap: 5px;
  }
  .frontcard_list .frontcard_item .item_heading {
    line-height: inherit;
    margin: 0;
  }
  .frontcard_list .frontcard_item .item_content {
    letter-spacing: 0.3px;
    margin-bottom: 0;
    line-height: inherit;
  }

  .svg_quote_wrapper {
    top: 5%;
    left: -2%;
  }
}