.container{
  display: flex;
  max-width: 1200px;
  margin-top: 20px;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.textField{
  width: 500px;
  height: 500px;
  font-size: 20px;
  text-align: start;
  line-height: 20px;
}