body{
  background-image: url(../assets/images/bgtable.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}
.table {
  margin: 20px auto;
  box-sizing: border-box;
   justify-content: center;
   align-items: center;  
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   max-height: 95%;
    max-width: 75%;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
 
 }
 .card{
  background-color: #ffffff;
 width: 100px;
 height: 150px;
 
 }
 .card svg{
 transform: rotateX(180deg);
 transform: translateX(1%);
 }
 .ace_of_spades{
 
 }