.bonfire {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.bonfire .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.bonfire:before {
  position: absolute;
  content: "";
  transform: translateX(-60%);
  width: 210px;
  height: 1px;
  background-color: #FC0;
}
.bonfire:after {
  position: absolute;
  content: "";
  transform: translateX(60%);
  width: 210px;
  height: 1px;
  background-color: #FC0;
}

.header:after {
  position: absolute;
  content: "";
  top: 200px;
  left: 50%;
  transform: translateX(5%);
  width: 1px;
  height: 560px;
  background-color: #FC0;
}

.name:after {
  position: absolute;
  content: "";
  left: 170px;
  transform: translateY(70px);
  width: 100px;
  height: 1px;
  background-color: #FC0;
}

.scroll_btn {
  margin-bottom: 25px;
  position: relative;
  width: 20px;
  height: 4px;
  background-color: #FC0;
}
.scroll_btn::after {
  content: "";
  left: 25px;
  transform: translateY(-2px);
  background-color: #FC0;
  position: absolute;
  width: 10px;
  height: 4px;
}
.scroll_btn::before {
  content: "";
  right: 25px;
  transform: translateY(-2px);
  background-color: #FC0;
  position: absolute;
  width: 10px;
  height: 4px;
}